@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

#ghostery-tracker-tally {
    display: none !important;
}

.ghostery-bottom {
    display: none !important;
}

.min-height {
    min-height: calc(100vh - 41px - 60px);
}

#content {
    @apply relative dark:bg-gray-900 dark:text-white transition-colors;
}

.btn-primary {
    @apply px-6 py-2 text-base shadow-sm text-center inline-block bg-primary text-white hover:bg-primary-hover hover:shadow-md focus:bg-primary-hover focus:outline-none focus:shadow-sm focus:ring-4 focus:ring-green-500 focus:ring-opacity-50 transition-colors;
}

.btn-secondary {
    @apply px-5 py-2 transition duration-200 inline-flex w-max text-gray-600 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none focus:bg-gray-300 dark:focus:bg-gray-700 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset;
}

.btn-round-primary {
    @apply p-6 text-base rounded-full shadow-sm text-center inline-block bg-primary text-white hover:bg-primary-hover hover:shadow-md focus:bg-primary-hover focus:shadow-sm focus:ring-4 focus:ring-green-500 focus:ring-opacity-50 transition-colors transition duration-200;
}

.custom-input label {
    @apply font-semibold text-sm pb-1 block self-center text-gray-600 dark:text-white transition-colors;
}

.custom-input input,
.custom-input select {
    @apply border col-span-2 px-3 py-2 text-sm w-full hover:border-primary-hover focus:border-primary-hover focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset dark:bg-gray-700 transition-colors;
}

.active {
    @apply bg-gray-300 hover:text-gray-600 dark:bg-gray-900
}

.toggle-path {
    transition: background 0.3s ease-in-out;
}

.toggle-circle {
    top: 0.2rem;
    left: 0.25rem;
    transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle-circle {
    transform: translateX(100%);
}

input:checked ~ .toggle-path {
    @apply bg-primary transition-colors
}